<!--Agregaremos un arraylist para que recorrera todo el namespace-->
@model List<InventarioComputo.BL.Equipo>
@{
    ViewBag.Title = "Index";
}

<h2>Equipos</h2>

<!--Recorreremos los campos del namespace con un foreach para cada campo-->
<!--Crearemos una lista de tabla para el equipo-->
@foreach (var equipo in Model)
{
    <table>
        <tr>
            <td>@equipo.Id</td>
            <td>@equipo.Descripcion</td>
            <td>@equipo.Precio</td>
            <td>@equipo.Categoria</td>
            <td>@equipo.Marca</td>
            <td>@equipo.Modelo</td>
            <td>@equipo.Serie</td>
            <td>@equipo.Estado</td>
            <td>@equipo.Fecha</td>
        </tr>
    </table>

}

