@model IEnumerable<InventarioComputo.BL.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>

<p>
    @Html.ActionLink("Nueva Categoria", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-xs btn-default" }) 
                @Html.ActionLink("Detalle", "Detalle", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" }) 
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id }, new { @class = "btn btn-xs btn-danger" })
            </td>
        </tr>
    }

</table>


